name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: self-hosted
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: npm ci

      - name: Build application
        run: npm run build

      - name: Create .env file
        run: touch .env

      - name: Setup Stripe secrets
        run: |
          echo STRIPE_SECRET_KEY=${{ secrets.STRIPE_SECRET_KEY }} >> .env 
          echo STRIPE_PAYMENT_SUCCESS_WEBHOOK_SECRET_KEY=${{ secrets.STRIPE_PAYMENT_SUCCESS_WEBHOOK_SECRET_KEY }} >> .env
      
      - name: Setup Nylas variables and secrets
        run: |
          echo NYLAS_CLIENT_ID=${{ secrets.NYLAS_CLIENT_ID }} >> .env 
          echo NYLAS_CLIENT_SECRET=${{ secrets.NYLAS_CLIENT_SECRET }} >> .env
          echo NYLAS_MAIN_ACCOUNT_ACCESS_TOKEN=${{ secrets.NYLAS_MAIN_ACCOUNT_ACCESS_TOKEN }} >> .env
          echo NYLAS_MAIN_ACCOUNT_EMAIL=${{ vars.NYLAS_MAIN_ACCOUNT_EMAIL }} >> .env
          echo NYLAS_CALENDAR_ASESORIAS_KEYNAME=${{ vars.NYLAS_CALENDAR_ASESORIAS_KEYNAME }} >> .env 
          echo NYLAS_CALENDAR_CONSULTORIA_KEYNAME=${{ vars.NYLAS_CALENDAR_CONSULTORIA_KEYNAME }} >> .env 
      
      - name: Setup Vonage variables and secrets
        run: |
          echo VONAGE_JWT_365_DAYS=${{ secrets.VONAGE_JWT_365_DAYS }} >> .env 
          echo VONAGE_API_BASE_URL=${{ vars.VONAGE_API_BASE_URL }} >> .env 

      - name: Setup Mongo DB secret
        run: |
          echo MONGO_DB_PROTOCOL=${{ vars.MONGO_DB_PROTOCOL }} >> .env
          echo MONGO_DB_HOST=${{ vars.MONGO_DB_HOST }} >> .env
          echo MONGO_DB_USER=${{ vars.MONGO_DB_USER }} >> .env
          echo MONGO_DB_PASSWORD=${{ secrets.MONGO_DB_PASSWORD }} >> .env

      - name: Setup AprendeCoding variables and secrets
        run: |
          echo JWT_SECRET=${{ secrets.JWT_SECRET }} >> .env 
          echo JWT_EXPIRES_IN=${{ vars.JWT_EXPIRES_IN }} >> .env 

      - name: Restart server application
        run: pm2 restart aprendecodingapi
